#header {
    position: fixed;
    width: 100%;
    padding: 1rem 2rem;
    color: var(--black);
    background-color: var(--tertiary);
    border: solid 2px var(--primary);
}

.header {
    font-weight: bold;
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 2.1px;
}

.subtitle {
    font-size: 1.2rem;
    color: var(--primary);
    
}