@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import "./reset.css";
@import "./colors.css";
@import "./header.css";
@import "./main.css";
@import "./product-cards.css";


* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Manrope', sans-serif;
}

