.list-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
}

.list-hero {
    padding: 20px;
    background-color: var(--white);
    border: 2px solid var(--primary);
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin: 12px 0;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    margin: 8px 0;
}

.text {
    font-weight: bold;
}

.email {
    color: blue;
    font-weight: bold;
}