.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    min-height: 580px;
    gap: 30px;
    padding: 50px;
}

.product-card {
    height: max-content;
    color: var(--white);
    background-color: var(--primary);
    border-radius: 8px;
    overflow: hidden;
    width: 50%;
}

.card-title {
    text-align: left;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
}

.card-content {
    padding: 20px
}

.card-img {
    width: 75%;
    height: 50%;
    object-fit: cover;
    padding-top: 40px;
}

.card-description {
    padding: 0 0 20px;
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .product-card {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    .product-card {
        width: 45%;
    }
}
@media only screen and (min-width: 1200px){
    .product-card {
        width: 45%;
    }
}