@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');
@import "./reset.css";
@import "./colors.css";
@import "./header.css";
@import "./main.css";
@import "./product-card.css";


* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Nunito', sans-serif;
}